.content7 {
	background: rgb(56, 56, 56);
	display: flex;
    flex-direction: column;
	flex-wrap: wrap;
	height: 180px;
	justify-content: space-around;
}

h5 {
	margin-top: 35px;
	margin-left: 35px;
	color: blanchedalmond;
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	text-align: left;
	
}

.footer-nav a {
	margin-top: 35px;
	margin-left: 35px;
	color: #ffffff;
}
	
h6 {
	text-align: center;
	color:#19d8e6;
}

i {
	text-align: center;
	color:#19d8e6;
}